[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
ipython = "*"
nbformat = "*"
attrs = "*"
arrow = "*"
click = "*"

[requires]
python_version = "3.8"
